<div class="course-card" *ngIf="course">

  <!-- IMAGE -->
  <div class="image-box">
    <img [src]="'http://localhost:5000' + course.image" alt="course">
  </div>

  <!-- CONTENT -->
  <div class="card-body">

    <h3>{{ course.title }}</h3>

    <p class="meta">{{ course.category }}</p>

    <p class="meta">
      👨‍🏫 {{ course.instructor }}
    </p>

    <div class="card-footer">
      <span class="price">₹{{ course.price }}</span>

      <a [routerLink]="['/course', course.id]" class="btn-view">
        View Details
      </a>
    </div>

  </div>

</div>