<div class="teacher-layout">
  <aside class="sidebar">
    <div class="logo-box">
      <!-- <h2>Teacher Panel</h2> -->
      <p>Welcome, {{ teacherName }}</p>
    </div>

    <nav class="menu">
      <a routerLink="/teacher/add-course" routerLinkActive="active">Add Course</a>
      <a routerLink="/teacher/my-courses" routerLinkActive="active">My Courses</a>
    </nav>

    <!-- <button class="logout-btn" (click)="logout()">Logout</button> -->
  </aside>

  <main class="content-area">
    <router-outlet></router-outlet>
     <!-- <h3>Teacher Dashboard</h3> -->
  </main>
</div>